*
!/.gitignore
!/buildout.cfg
!/config.cfg.sample
!/custom.cfg
!/custom-edem.cfg
!/dependencies.cfg
!/develop.cfg
!/docs
!/docs/*
!/downloads
!/downloads/placeholder
!/gs_install_ubuntu.sh
!/instance.cfg
!/parts
!/parts/placeholder
!/read_ini.sh
!/rebuild.sh
!/README.txt
!/src
!/src/placeholder
!/src/empty_egg_git
!/src/empty_egg_git/*
!/src/empty_egg_hg
!/src/empty_egg_hg/*
!/test_read_ini.sh
!/versions.cfg
!/zmi
!/zmi/*
/zmi/*~
!/zope2-*.cfg
!/ztk-*.cfg
